@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Eindproject Cursus C#.NET</p><br />
<p>Miniprojectje voor de administratie van de verlofaanvragen</p>
<p>- Beheer Teams</p>
<p>- Beheer Werknemers</p>
<p>- Beheer Verlofaanvragen</p>
<p>- Manuele afhandeling verlofaanvragen</p>
<p>- Automatische afhandeling verlofaanvragen</p>
<br />
<p>Bernd Vertommen, David Nuyts, Frank Sweevers, Roel Vercauteren</p>
