@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BDFR-Solutions bvba<br />
    Boombekelaan 18<br />
    Hoboken<br />
    <abbr title="Phone">Tel: </abbr>
    Please don't call<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:berndvertommen@msn.com">Bernd.Vertommen@msn.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:david.nuyts@gmail.com">David.Nuyts@gmail.com</a>
</address>