@model EindProjectBusinessModels.Werknemer

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Model != null)
    {
        <h1>Welkom @Model.VolledigeNaam</h1>
        <p class="lead">Selecteer in onderstaande lijst of in de balk bovenaan wat u wil doen.</p>
    }
    else
    {
        <h1>U bent niet ingelogd.</h1>
        <p class="lead">Log eerst in om verder te gaan aub.</p>
        <p><a class="btn btn-default" href="/login">Learn more &raquo;</a></p>
    }

</div>

<div class="row">

    @{
        bool tmpbool = false;
        foreach (EindProjectBusinessModels.VerlofAanvraag va in Model.Verlofaanvragen)
        {
            if (!va.Gelezen)
            {
                tmpbool = true;
            }
        }
        if (tmpbool)
        {
            <div class="col-md-12">
                <h2>Verwerkte verlofaanvragen</h2>
                <p>
                    Uw ingediende verlofaanvragen werden verwerkt. Bekijk ze
                    <a class="btn btn-default" href="/verlof/verlofindienen">Hier</a>

                </p>
            </div>
        }

    }


    @if (Model.IsHr)
    {
        <div class="col-md-4">
            <h2>HR Tools</h2>
            <p>
                Als medewerker van het HR-Team beschikt u over de volgende functionaliteiten:
            </p>
            <p><a class="btn btn-default" href="/HR/hrnieuwewerknemer">Werknemer Toevoegen</a></p>
            <p><a class="btn btn-default" href="/HR/hrselecteerwerknemer">Werknemers Beheren</a></p>
            <p><a class="btn btn-default" href="/hr/hrwjaarlijksverloftoevoegen">Verlof Toevoegen</a></p>
            <p><a class="btn btn-default" href="/hr/hrteamtoevoegen">Team Toevoegen</a></p>
            <p><a class="btn btn-default" href="/hr/hrteamverantwoordelijkebeheren">Teams Beheren</a></p>
            <p><a class="btn btn-default" href="/hr/HRGeefLijstTeams">Lijst Teams</a></p>
            <p><a class="btn btn-default" href="">More To Come ...</a></p>
        </div>
    }
    @if (Model.TeamLeader)
    {
        <div class="col-md-4">
            <h2>Teamleader</h2>
            <p>Als teamleader kan u de verlofaanvragen van de leden van uw team beheren</p>
            <p><a class="btn btn-default" href="/teamleader/index">Verlofaanvragen beheren</a></p>
        </div>
    }

    <div class="col-md-4">
        <h2>Verlof Aanvragen</h2>
        <p>
            Om een overzicht van uw verlofaanvragen te zien of om een verlofaanvraag in te dienen klik dan
            <a class="btn btn-default" href="/verlof/verlofindienen">Hier</a>
        </p>
    </div>

</div>