@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Verlof/HrAction">
    <input name="Actie" type="submit" value="HR Tools">
</form>
<form action="/Verlof/TeamLeaderAction">
    <input name="Actie" type="submit" value="TeamLeader Tools">
</form>
<form action="/Verlof/WerknemerAction">
    <input name="Actie" type="submit" value="Werknemer Tools">
    <br />
    <p>Hier komen links naar de verschillende pagina's voor verschillende acties</p>

    <p>De links worden enabled/disabled afhankelijk van de rechten van de ingelogde gebruiker.</p>
</form>
