@{
    ViewBag.Title = "Werknemers";
}

<h2>Werknemer Tools</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.Label("PersoneelNr:") @Html.TextBox("PersoneelsNr")
    </p>
    <input type="submit" value="Log In met dit PersoneelsNr" class="btn btn-default" />
}
