
@{
    ViewBag.Title = "TeamLeader Index";
}
@Html.AntiForgeryToken()
<h2>TeamLeader Tools</h2>
<h3>Behandelen verlofaanvragen</h3>
<br />
Selecteer werknemer:
@using (@Html.BeginForm("InfoForWerknemer", "TeamLeader"))
{
    @Html.DropDownList("ddlTeamLeden");
    <input type="submit" name="btnBevestig" value="Bevestig" />
}
