@model EindProjectBusinessModels.Team

@{
    ViewBag.Title = "HrTeamVerantwoordelijkeBeheren";
}

@Html.Raw(EindProjectMVC.Models.HrMenuGenerator.CreeerHrMenu())

<h2>HrTeamVerantwoordelijkeBeheren</h2>


<p> Hier komt de mogelijkheid om teamveranwoordelijken te beheren.</p>
