
@{
    ViewBag.Title = "HrHrWijzigWerknemer";
}

<div class="jumbotron">
    <h2>Hr Wijzig Werknemer</h2>
    <nav class="navbar navbar-inverse">
        <form action="/HR/HrNieuweWerknemer" class="label label-primary">
            <input name="Actie" type="submit" value="Nieuwe WerkNemer" class="button-invis">
        </form>
        <form action="/HR/HrWijzigWerknemer" class="label label-success">
            <input name="Actie" type="submit" value="Wijzig Werknemer" class="button-invis">
        </form>
        <form action="/HR/HrWVerlofToevoegen" class="label label-default">
            <input name="Actie" type="submit" value="Verlof Toevoegen" class="button-invis">
        </form>
        @*<span class="label label-default"> </span>
            <span class="label label-primary">Wijzig Werknemer</span>
            <span class="label label-success">Verlof Toevoegen</span>*@
        @*<span class="label label-info">Info</span>*@
        @*<span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>*@
    </nav>
</div>