
@{
    ViewBag.Title = "HrIndex";
}


<div class="jumbotron">
    <h2>Welkom bij HR</h2>
    <nav class="navbar navbar-inverse">
        <form action="/HR/HrAction" class="label label-primary">
            <input name="Actie" type="submit" value="Nieuwe WerkNemer" class="button-invis">
        </form>
        <form action="/HR/HrAction" class="label label-primary">
            <input name="Actie" type="submit" value="Nieuwe WerkNemer" class="button-invis">
        </form>

        @*<span class="label label-default"> </span>
            <span class="label label-primary">Wijzig Werknemer</span>
            <span class="label label-success">Verlof Toevoegen</span>*@
        @*<span class="label label-info">Info</span>*@
        @*<span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>*@
    </nav>
</div>

}


