
@{
    ViewBag.Title = "Mailfout";
}

<h2>Oopsss</h2>

Er is een fout opgetreden bij het sturen van een bevestigingsmail.
Deze mail zal niet opnieuw worden verstuurd, uw correspondent zal dus niet via mail worden verwittigd.

U kan verder navigeren via het menu.